<div class="container">
    <div class="emps">
        <app-employee-table
            (employeeIdSelected)="recieveEmployeeId($event)"
        ></app-employee-table>
    </div>
    <div class="pendingBonus">
        <div class="bonusbtn">
            <button
                class="newbonusbtn"
                mat-raised-button
                color="primary"
                (click)="onBonusBtnClick()"
                [disabled]="!employeeId"
            >
                New Bonus
            </button>
        </div>

        <app-pending-bonuses
            [selectedEmployeeId]="employeeId"
        ></app-pending-bonuses>
    </div>
</div>
